<footer class="main-footer">
  <div class="row-wrapper">
    <div class="logo-container">
      <img src="img/creatif-blk.svg" alt="">
    </div>
    <div class="footer-nav">
      <ul>
        <li> <a href="#">About</a> </li>
        <li> <a href="#">Works</a> </li>
        <li> <a href="#">Services</a> </li>
        <li> <a href="#">Shop</a> </li>
        <li> <a href="#">News</a> </li>
        <li> <a href="#">Contact</a> </li>
      </ul>
    </div>
    <div class="footer-flex">
      <div class="subflex">
        <div>Address</div>
        <div>
          Jl. Kamal Raya Outer Ring Road<br>
          <br> Golf Lake Residence,
          <br> San Lorenzo 5G no 30
          <br> Cengkareng, Jakarta Barat
          <br>
          <br> 11730 - Indonesia
        </div>
      </div>
    </div>
    <div class="footer-flex">
      <div class="subflex">
        <div>Contact</div>
        <div>
          +6221 550 1400
          <br> +6221 550 1400
          <br>
          <br> E-mail us at:
          <br> info@creatifactory.com
        </div>
      </div>
    </div>
    <div class="social-icons footer-flex">
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer> 